<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: method }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <% if method == :put %>
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
  <% end %>

  <%= f.label :air_quality_threshold, class: "form-label" %> <div class="aqi-text"><%= @user.air_quality_threshold %></div>
  <%= f.range_field :air_quality_threshold,
    class: "slide form-range form-control",
    in: 1..450,
    step: 1,
    "aria-valuemin": 1,
    "aria-valuemax": 450,
    "aria-valuenow": @user.air_quality_threshold,
    oninput: "showAmount(this.value)"
  %>
  <%= f.label :city, class: "form-label" %>
  <%= f.text_field :city, class: "form-control" %>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<script>
  function showAmount(newAmount) {
      document.querySelector(".aqi-text").innerHTML = newAmount
    }
</script>
